#logo{
    margin-top :30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#navigtion{
    background-color: #ddd;
}
#Video{
    background-color: white;
}
#Game{
    background-color: white;
}